{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="about">

    <div class="row first_row" >
        <h2><b>About</b></h2>
    </div>

    <div class="row second_row" >
        <div class="col-sm-8 col1" >
            <div class="container1"  style=" margin-left: auto;  margin-right: auto; font-size: x-large; text-align: center; width:95%;outline: none;" >
                <span>Welcome to Echoes of Change, where passion meets purpose. At Echoes of Change, we believe in the power of collective action to drive positive social impact.</span>
                <div class="mt-3"></div> 
                <span  >Our platform is designed to bridge the gap between passionate individuals and impactful initiatives, creating meaningful connections that drive positive change in our communities.</span>
            </div>
        </div> 
        <div class="col-sm-4 col2" >
            <div style="text-align: center;">
                <img src="/Design Images/logo.jpg" alt="{{ comp.logo }}" class="logo">
            </div>
        </div>
    
    </div>

    <div class="row last_row">
        <div class="col-sm-2 mt-5" >
            <div class="row"   style="justify-content: center;align-items: center;">
                <div style="text-align: center;">
                    <img src="/Design Images/about1.png" alt="{{ comp.logo }}" style=" width: 150px; height: 150px; ">
                </div>
            </div>
            <div class="row mt-4"   style="justify-content: center;align-items: center;">
                <div style="text-align: center; ">
                    <img src="/Design Images/about2.png" alt="{{ comp.logo }}" style=" width: 150px; height: 150px;  ">
                </div>
            </div>
        </div>
        <div class="col-sm-10" style=" font-size: larger; text-align: center;">
            <h1 style="text-align: center;" class="mb-4"><b>More than just a platform</b></h1>
            <div class="mt-4"></div> 
            <span>Echoes of Change is more than just a platform; it's a vibrant community of individuals dedicated to making a difference. 
            </span>
            <div class="mt-4"></div> 
            <span>We understand that every volunteer is unique, which is why we've developed a sophisticated matching system that connects volunteers with initiatives based on their specific skills and interests.</span>
            <div class="mt-4"></div> 
            <span>By leveraging cutting-edge technology, we ensure that every volunteer is paired with projects where they can truly make a difference.
            </span>    
            <div class="mt-5"></div> 
            <span><b>
                Join us on our mission to create a world where everyone has the opportunity to thrive. Together, we can amplify the echoes of change and build a brighter future for all.
            </b></span>
        </div>
    
    </div>


</div>
 
{% endblock content %}
